body {
  background: url(/rss-wallpaper.jpeg) no-repeat center center fixed, #000000;
  background-color: #000000;
  background-size: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
}

header {
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
  background-color: #000000;
  backdrop-filter: blur(5px);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

footer {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
  background-color: #000000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.bento-box {
  align-items: center;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.loading-container {
  display: none;
  margin-top: 20px;
}

.loading-bar {
  animation: progress 3s infinite;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  border-radius: 10px;
  height: 20px;
  width: 100%;
}

.result-container {
  display: none;
  margin-top: 20px;
  width: 80%;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.result-container.hidden {
  display: none;
}

.hidden {
  display: none;
}

.text-put {
  color: #000;
  margin: 10px;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  padding: 8px;
  width: 300px;
}

output {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  padding: 8px;
  width: 100%;
}
button {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-weight: bolder;
  padding: 8px 20px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: rgba(0, 0, 0, 0.8);
}
.button:active {
  background-color: #d5d5d5;
  box-shadow: 0 3px #666;
  transform: translateX(1px);
}
