/* Root Styles */
:root {
  --primary-color: #007aff;
  --secondary-color: #34c759;
  --background-color: #000000;
  --text-color: #ffffff;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --border-radius: 12px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --backdrop-filter: blur(10px);
  --nav-height: 96vh;
  --nav-width: 5vw;
  --nav-background: rgba(240, 240, 240, 0.4);
  --hover-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  --active-box-shadow: 0 -2px -5px rgba(0, 0, 0, 0.5);
}

/* Base Styles */
body {
  background: var(--background-color) url('./images/rss-wallpaper.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  justify-content: space-between;
  margin: 0;
  min-height: 100vh;
  transition: all var(--transition-duration) var(--transition-timing-function);
}

header, footer {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  color: var(--text-color);
  padding: 10px 0;
  text-align: center;
}

/* Main Styles */
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Container Styles */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.loading-container {
  margin-top: 10px;
  padding: 10px;
}

/* Glass Styles */
.glass {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: var(--backdrop-filter);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 20px;
  padding: 20px;
}

/* Progress Styles */
progress {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: var(--backdrop-filter);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  height: 100%;
  width: 100%;
}

::-webkit-progress-inner-element {
  border: 3px solid rgba(0, 0, 0, 0.082);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

::-webkit-progress-bar {
  background: rgba(255, 255, 255, 0.199);
  border-radius: 10px;
  height: 10px;
}

::-webkit-progress-value {
  background: linear-gradient(45deg, #ff000080, #ff730080, #fffb0080, #48ff0080, #00ffd580, #002bff80, #7a00ff80, #ff00c880);
  backdrop-filter: blur(30px);
  border-radius: 10px;
}

/* Search and Result Styles */
.search-container, .result-container {
  justify-content: center;
  margin-top: 20px;
}

/* Input and Output Styles */
input[type="url"], output {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
  width: 100%;
}

/* Button Styles */
button {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-weight: bolder;
  padding: 8px 20px;
  transition: background-color 0.9s ease;
  width: 100px;
}

button:active {
  background-color: #d5d5d5;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}

button:hover {
  background: linear-gradient(45deg, #ff000080, #ff730080, #EDF252, #48ff0080, #5EEAC4, #002bff80, #7a00ff80, #FD28A6);
  color: white;
  filter: blur(0.5px);
  transition: background-color 0.3s ease;
}

/* Link Styles */
a {
  color: white;
  padding: 3px;
  text-decoration: none;
}

a:hover {
  background: linear-gradient(45deg, #ff000080, #ff730080, #fffb0080, #48ff0080, #00ffd580, #002bff80, #7a00ff80, #ff00c880);
  border-radius: 3px;
  filter: blur(0.5px);
  transition: opacity .5s ease-in-out;
}

.social-media {
  margin-top: -15px;
}